<!-- Default form login -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Add a New Classroom</p>
  
 
    <input type="text"  class="form-control mb-4" placeholder="classroom name">
  
 
    <input type="text"  class="form-control mb-4" placeholder="classroom category">
    <input type="text"  class="form-control mb-4" placeholder="classroom description">
  
    
  
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Add new Classroom</button>
  
   
   
  
  </form>
  <!-- Default form login -->