<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="jumbotron jumbotron-fluid center">
        <div class="container-fluid">
          <h1 class="display-4">Welcome to {{ name }} class</h1>
          <p class="lead">
            {{ description }}
          </p>
          <p class="lead">
            {{ category }}
          </p>
        </div>
      </div>
      <div class="input-group my-4" *ngIf="auth.isTeach()">
        <div class="input-group-prepend">
          <span class="input-group-text">With textarea</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
      <div class="container-fluid bg-light">
        <app-post
          [post]="post"
          [index]="i"
          *ngFor="let post of posts; let i = index"
        ></app-post>
      </div>
    </div>
  </div>
</div>
