<main class="container-fluid" style="height: 98vh;">
    <div class="container">
        <div class="row pt-5" style="height: 100%;">
            <div class="col-8 text-center mt-5">
                <!-- Jumbotron -->
                <div class="jumbotron text-center blue lighten-2 white-text mx-2 mb-5">

                    <!-- Title -->
                    <h2 class="card-title h2">EduWare  AnyWhere</h2>

                    <!-- Subtitle -->
                    <p class="my-4 h6">First* Ever* Online education platform</p>

                    <!-- Grid row -->
                    <div class="row d-flex justify-content-center">

                        <!-- Grid column -->
                        <div class="col-xl-7 pb-2">

                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga aliquid
                                dolorem ea distinctio exercitationem delectus qui, quas eum architecto, amet quasi
                                accusantium, fugit consequatur ducimus obcaecati numquam molestias hic itaque
                                accusantium doloremque laudantium, totam rem aperiam.</p>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Jumbotron -->
            </div>
            <div class="col text-center mt-5">
                <app-signform></app-signform>
            </div>
        </div>
    </div>
</main>