/* .root {
    display: grid;
    grid-template-columns: 65% auto;
    grid-template-rows: 9% auto;
    width: 100%;
    height: 100vh;
    
}



.splash {
    border-right: 1px solid grey;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash > h1 {
    margin-top: -20%;
}

.login {
    grid-area: "login";
    background-color: cadetblue;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
 */
