
<div class="row">
  <div class="col-12">
    <div data-toggle="collapse" [attr.data-target]="'#f' + index" 
    aria-expanded="false" 
    class="card text-white bg-info my-3 mx-auto" style="max-width: 40rem;">
      <div class="card-header">
        <p>{{teacher}} <span style="float: right;">{{post.date}}</span></p>
      </div>
      <div class="card-body">
        <p class="card-text">{{post.text}}</p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="collapse card mb-3 mx-auto" style="max-width: 40rem;" [id]="'f' + index">
      <div *ngFor="let comment of post.comments" class="card card-body my-3" style="background-color: aquamarine;">
        
        <div class="card-header">
          <p>{{comment.student}} <span style="float: right;">{{post.date}}</span></p>
        </div>
        <div class="card-body">
          <p class="card-text">{{comment.text}}</p>
        </div>
      </div>
      <div class="md-form mt-3">
        <mdb-icon fas icon="paper-plane" class="prefix"></mdb-icon>
        <input [(ngModel)]="comment" mdbInput type="text" id="form1" class="form-control">
        <label for="form1" class="">write a comment</label>
      </div>
    </div>
  </div>
</div>