
<div class="row">
  <div class="col-12">
    <div data-toggle="collapse" data-target="#collapseExample" 
    aria-expanded="false" aria-controls="collapseExample" 
    class="card text-white bg-info my-3 mx-auto" style="max-width: 40rem;">
      <div class="card-header">
        <p>Essam <span style="float: right;">14-5-2028</span></p>
      </div>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="collapse card my-3 mx-auto" style="max-width: 40rem;" id="collapseExample">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>
</div>