<form>
    <h3>Sign Up</h3>
   <div>
    <label>USERNAME: </label>
        <input type="text">
   </div>
    <div>
        <label>PASSWORD: </label>
        <input type="password">
        </div>
    <div>
        <label>EMAIL: </label>
        <input type="email">
    </div>
    <div>
        <label>FIRSTNAME: </label>
        <input type="text">
    </div>
    <div>
        <label>LASTNAME: </label>
        <input type="text">
    </div>
    <div>
        <label>BIRTH DATE: </label>
            <input type="date">
    </div>
    <input type="submit" value="SignUp">
</form>
