

<!-- Default form login ------------------------------------------------------------------ -->
<form class="text-center border border-light p-5" *ngIf="!displaySignUp && displaySignIn" #signInForm="ngForm"
(ngSubmit)="signIn(signInForm)"
>
    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input type="text" id="defaultLoginFormUsername" class="form-control mb-4" placeholder="Username"
    ngModel name="username"
    >

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password"
    ngModel name="password"
    >

    

    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>
    <button mdbBtn color="info" block="true" class="my-4" type="submit" (click)="switchBack()">Sign Up Instead</button>

    

    <!-- Social login -->
    
</form>
<!-- Default form login -->

<!-- Default form register ----------------------------------------------------------------->
<form class="text-center border border-light p-5" (ngSubmit)="signUp(signUpForm)" #signUpForm="ngForm"  *ngIf="displaySignUp && !displaySignIn">

    <p class="h4 mb-4">Sign up</p>


    <input type="text" id="defaultRegisterFormUsername" class="form-control mb-4" placeholder="Username"
    ngModel name="username"
    >

    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name"
            ngModel name="firstName"
            >
        </div>
        <div class="col">
            <!-- Last name -->
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name"
            ngModel name="lastName"
            >
        </div>
    </div>

    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail"
    ngModel name="email"
    >

    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password"
        aria-describedby="defaultRegisterFormPasswordHelpBlock"
        ngModel name="password"
        >
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
    </small>

    <input type="date" id="defaultRegisterPhonePassword" class="form-control" 
    ngModel name="birthdate"    
    aria-describedby="defaultRegisterFormPhoneHelpBlock">
    

   

    <!-- Sign up button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign Up</button>
    <button mdbBtn color="info" block="true" class="my-4" type="submit" (click)="switch()">Sign In Instead</button>


    <!-- Social register -->
  

    <hr>

    <!-- Terms of service -->
    

</form>
<!-- Default form register -->


<form class="text-center border border-light p-5" *ngIf="!displaySignUp && !displaySignIn">
    <p class="h4 mb-4">Are you a student or a Teacher?</p>
    <button mdbBtn color="info" block="true" class="my-4" type="submit" (click)="pickOccupation('student')">Student</button>
    <button mdbBtn color="info" block="true" class="my-4" type="submit"(click)="pickOccupation('teacher')">Teacher</button>
    <button mdbBtn color="info" block="true" class="my-4" type="submit" (click)="switch()">Sign In Instead</button>

</form>