<mdb-card style="width:250px;">
  <mdb-card-header>{{classroom.categories}}</mdb-card-header>
  <mdb-card-body>
    <mdb-card-title>
      <h5>{{classroom.name}}</h5>
    </mdb-card-title>
    <mdb-card-text>{{classroom.description}}</mdb-card-text>
    <button
      mdbBtn
      color="primary"
      [routerLink]="'/classroom/'+classroom._id"
      *ngIf="auth.isStudent()"
    >
      Enroll
    </button>
    <button mdbBtn color="default" routerLink="/" *ngIf="!auth.checkAuth()">
      login first
    </button>
    <button
      mdbBtn
      color="primary"
      [routerLink]="'/classroom/'+classroom._id"
      *ngIf="myClassRoom()"
    >
      View Class
    </button>
  </mdb-card-body>
</mdb-card>
