<div class="search">
    <form class="form-inline w-100 p-3" #search="ngForm" (ngSubmit)="onClickSearch(search.value)">
        <input class="form-control mr-sm-2" name="searchText" type="search" placeholder="Search " aria-label="Search"
            ngModel>
        <button type="submit" href='#' routerLink='/classrooms'
            class="btn btn-outline-success my-2 my-sm-0">Search</button>
    </form>
    <classroomlist-component [classesroom]="findedClassesroom" [searchFor]="searchText"></classroomlist-component>
</div>
<!-- <component-to-display-when-form-sent *ngIf="isFormSent"></component-to-display-when-form-sent></div> -->